@import "../../styles/variable.scss";
@mixin ui-size {
  padding: 16px 20px;
}
@mixin font-size($size) {
  font-size: $size;
}

.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  width: 400px;
  * {
    letter-spacing: -0.04em;
    cursor: pointer;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input {
      border: 1px solid $border-color;
      @include ui-size();
      @include font-size(15px);
    }
    input[type="text"] {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    input:hover {
      border: 1px solid rgba(92, 92, 92, 0.609);
      box-shadow: inset 0px 0px 5px 1px rgba(202, 202, 202, 0.287);
    }
    input:focus {
      outline: none;
      border: 1px solid rgb(0, 100, 0);
    }

    .loginOptionBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include ui-size();
      border: 1px solid $border-color;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: rgb(212, 247, 225);
      color: rgb(100, 128, 116);
      @include font-size(12px);

      label {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          margin-right: 5px;
          width: 20px;
          height: 20px;
        }
        span:hover {
          color: $theme-color;
        }
      }
      span {
        padding-right: 7px;
      }
      span + span {
        padding-left: 7px;
        border-left: 1px solid rgb(161, 202, 179);
      }
      span:hover {
        color: $theme-color;
      }
    }
  }

  .signupButton {
    @include ui-size();
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: white;
    color: rgb(148, 148, 148);
    font-weight: 600;
    @include font-size(16px);
  }
}
