@import "../../styles/variable.scss";

.logobox {
  .logo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(184, 204, 192);
    padding: 10px;
    color: $theme-color;
    text-decoration: none;
    font-size: 21px;
    font-family: "Sunflower", sans-serif;
  }
}
