@import "../styles/variable.scss";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
    Helvetica Neue, ridi-roboto, "Noto Sans KR", sans-serif;
}

body {
  background-color: $background-color;
}
