.bookDetailInfoWrap {
  display: flex;
  border: 0.3em solid rgba(209, 209, 209, 0.209);
  padding: 1.5rem;
  font-size: 12px;
}

.publishDate,
.ISBN {
  display: flex;
  padding-right: 8rem;
}

.title {
  padding-right: 0.8em;
  font-weight: 600;
  color: rgb(92, 92, 92);
}

.value {
  color: rgb(122, 122, 122);
}
