.wap {
  margin-bottom: 10px;

  background: white;
}

.wap span {
  position: absolute;
}

.beforeClick {
  padding-top: 25px;
  padding-left: 10px;
  color: rgb(138, 151, 148);
  font-size: 17px;
  font-weight: 200;
  z-index: 3;
}

.click {
  padding: 10px;
  color: hsl(166, 41%, 51%);
  font-size: 13px;
  z-index: 3;
  transition-duration: 0.3s all;
}

.afferClick {
  padding: 5px 10px 10px 10px;
  font-size: 12px;
  z-index: 3;
}

.wap input {
  padding: 26px 10px 10px 10px;
  border: 1px solid hsl(166, 41%, 51%);
  border-radius: 4px;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.04em;
  z-index: 2;
}

input:focus {
  outline: none;
}
