.mainNavcontentWrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  max-width: 1134px;
}

.logo,
.inputWrap {
  display: flex;
}

.logo {
  color: hsl(166, 41%, 51%);
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 0.5;
}

.inputWrap {
  justify-content: space-around;
}

.mag {
  width: 250px;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgba(227, 227, 227, 0.47);
  background-image: url(https://user-images.githubusercontent.com/85507868/162778305-204270df-4271-47ae-a200-f37b6b12e662.png);
  background-position: 5% center;
  background-size: 13px;
  background-repeat: no-repeat;
  caret-color: hsl(166, 41%, 51%);
}
