.signupWap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  width: 400px;
  * {
    letter-spacing: -0.04em;
    cursor: pointer;
  }

  .signupPasswordsWap {
    display: flex;
    flex-direction: column;
  }
  .warningDown {
    display: none;
    margin-bottom: 20px;
  }
  .warningUp {
    padding-left: 10px;
    margin-bottom: 20px;
    color: rgba(233, 49, 49, 0.685);
  }
}
