.navWrap {
  border-bottom: 1px solid rgb(228, 228, 228);
  cursor: pointer;
}

.navcontentWrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 20px;
  max-width: 1150px;
}

.novelmenu,
.usersmenu {
  display: flex;
  padding: 15px 0;
  font-size: 14px;
}

.novelmenu li,
.usersmenu li {
  width: max-content;
  color: rgb(117, 117, 117);
  font-weight: 500;
}

.novelmenu .webnovel {
  color: black;
}

.signupButton:hover,
.loginButton:hover {
  color: rgb(193, 193, 193);
  transition: 0.3s all;
}
